---
title: Grunt tasks
page: tasks
sidebar: false
class: content-text
---

# Tasks used by Grunt
The full [Gruntfile](https://github.com/Melindrea/flat-build/blob/ea2950f1a4cef692df648178418b823d08042f08/Gruntfile.js) can be viewed at the [Flat Build](https://github.com/Melindrea/flat-build) repository. It is linked to a specific commit, and the article will be updated with new things whenever it is updated.

The reason I tie it to a specific commit is to ensure that everything I say about it is exactly true, rather than code having been changed without the article having been updated.

Also, the default assumption is that you want to install them locally and save them to the development dependencies, and that you have used [my instructions](http://mariehogebrandt.se/articles/installing-yeoman-grunt-bower-and-yo-on-ubuntu/) or similar so that you don't need to call `npm` using `sudo` and that GruntJS is installed.

## Task Newer
Several of the tasks are called with `newer:<taskname>`, which references the [`grunt-newer` plugin](https://github.com/tschaub/grunt-newer), a fairly new addition to grunt plugins. It saves time (and power...) to only run tasks on files that have actually changed since it was last ran, for the moment using cached timestamps (there's [an issue](https://github.com/tschaub/grunt-newer/issues/5)) to either add an option or a different set of tasks that compare the `md5sum` instead.

It is installed with `npm install grunt-newer --save-dev`.

## Task Watch
The in my opinion most important grunt task — one might even say its' <i lang="fr">raison d'être</i> — is is [grunt-contrib-watch](https://github.com/gruntjs/grunt-contrib-watch), which is a task that <q>runs predefined tasks whenever watched file patterns are added, changed or deleted</q>. For instance, whenever one of my Sass files change, it runs the Compass task to recompile them. That in turn triggers the change of a CSS file, which triggers LiveReload, saving me to press `F5`!

It's key to the workflow, playing a large part in `grunt server`, as detailed further below.

`npm install grunt-contrib-watch --save-dev`

## JS

~~~
    grunt.registerTask('js', [
        'newer:jsvalidate',
        'newer:jshint',
        'modernizr'
    ]);
~~~

The `js` task consists of three different tasks: `jsvalidate`, `jshint` and `modernizr`.

### JSValidate
[JSValidate](https://github.com/ariya/grunt-jsvalidate) is a task intended to supplement JSHint. It's fast and checks the source code (including the minified/concatenated files) for syntax errors, as a preliminary check before the files are hinted.

`npm install grunt-jsvalidate --save-dev`

### JSHint
Per [their homepage](http://jshint.com/), JSHint is a <q>tool that helps to detect errors and potential problems in your JavaScript code</q>. It is a less opinionated clone of [JSLint](http://www.jslint.com/), in particular in that it allows you to set more options. The global options are set in the [`.jshintrc` file](https://github.com/Melindrea/flat-build/blob/master/.jshintrc), and you can also set options in individual files using their [inline configuration](http://jshint.com/docs/config/). The [default mocha spec file](https://github.com/Melindrea/flat-build/blob/master/test/spec/test.js) uses the two globals `describe` and `it`, as an example.

The task itself is installed using one of the [core plugins](https://github.com/gruntjs/grunt-contrib-jshint), `npm install grunt-contrib-jshint --save-dev`, which is fairly straight forward. I use it to lint the `Gruntfile.js`, all under-development `*.js`-files, any tasks, and the mocha test specifications.

It is ran automatically, using watch, every time either of those files change, but as I also use the `newer` task, only the one(s) that's actually changed gets linted.

### Modernizr
This has to be one of my absolute favourite tasks, and I can't say how thrilled I am that it's been been pulled into the Modernizr organization proper, and that it's now used in the default Yeoman webapp generator, because it absolutely rocks!

So, what is Modernizr? It's a [feature detection library](http://modernizr.com/), which adds classes to the `html` element, allowing you to do backup plans in both JavaScript and CSS if a particular feature isn't available.

For instance, imagine that your logo is a nice SVG image. If SVG isn't supported by the viewing browser, your backup is a PNG file. Using Modernizr, the code is fairly simple:

~~~
    if (!Modernizr.svg) {
        $('.brand img').attr('src', '/images/logo.png');
    }
~~~

Or maybe you're using CSS Gradients on some elements, but not all browsers can handle that, so then you write something along these lines:

~~~
button {
    background-image: linear-gradient(top, #555, #333);
    /* Technically you're probably likelier to write it something like this,
    since you're following my tutorial and I do Compass: */
    @include background-image(linear-gradient(top, #555, #333));
}
.no-cssgradients button {
    background: url('backup-image.png');
}
~~~

Seeing the brilliance of Modernizr yet? Of course you do, you're reading this, so clearly you're quite bright. Now, there is one big issue with Modernizr, where *big* is the operative word. Okay, not that big, the full library is 50.1kB, but it has a lot of things that you'll probably not need, so it'd be better to get a file built for that particular project.

That's where [grunt-modernizr](https://github.com/Modernizr/grunt-modernizr) comes into play: `npm install grunt-modernizr --save-dev`. It goes through the specified files (JavaScript, CSS, SCSS) and builds a minified (if you so wish) file with just the tests that actually show up in any of those files. My Modernizr file clocks out at 7kb which is a nice improvement. Of course, then it gets built into the head script together with a few others on build, to save HTTP-requests.

## CSS/Sass/Compass
Okay, so let's take a step back here. What exactly is Sass, how does Compass relate to it, and how do both of them relate to CSS?

### History Lesson (why Pre-Processor for CSS)
The issue with CSS, in my view, is that it can be a pain to work with. It's nicer to divide them into logical (or not so...) modules than to work on a single huge file, but you should strive to minimise the number of HTTP-calls for performance reasons. If you have the same colour in several places and you want to tweak it, you have to find each of those places, and stuff such as that.

That's where pre-processors come in. There's three large ones [Sass](http://sass-lang.com/), [Less](http://lesscss.org/) and [Stylus](http://learnboost.github.io/stylus/), where Less has it going for it that the ubiquitous Bootstrap is built in it, and Sass is probably the most versatile and most powerful of the three, which is why I prefer Sass. Also, it's the closest to CSS-syntax, and it's what I started with, so those two probably play a part.

(As a sidenote, Stylus is using omitting braces and semi-colons as an advantage to Stylus, which I imagine it is to some. I don't like it, and I don't like CoffeeScript for the same reason.)

**What can we do with Sass that we cannot do with CSS?**

Simple answer? Not a single thing, because the end result is CSS. When using any pre-processors, always keep in mind when you're feeling particularly clever what it will look like once it's processed. You do not want to be responsible for the horrific specificity mess that comes from nesting things ten levels, trust me on this one. Remember, friends don't let friends bloat CSS.

So now over to the more complex answer, covering five points.

#### Variables
To declare a variable in SCSS, just write `$variable-name: value;` where ever you need it, and it can then be used as `$variable-name` somewhere else, assuming it has been declared *before*.

The naming doesn't matter, but since CSS is a [hyphen-delimited syntax](http://csswizardry.com/2010/12/css-camel-case-seriously-sucks/)(check out that rant...), using hypens in your variable names is probably a good idea.

#### Colour functions
Your main colour for your links is `#BADA55` (thank you Chris Coyier!), and you figure that they should be somewhat darker when you hover over them, and thus you open your trusty image program such as Gimp or Photoshop, using those nifty little sliders to get a good colour. It's used in a few places and all is well, until one day you decide that you'd like to make the `:hover`/`:focus` states *lighter* instead.

Queue [Sass colour functions](http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html).

~~~
$colour: #BADA55;
$darker-colour: darken($colour, 15); // 15% darker
$lighter-colour: lighten($colour, 15); // 15% lighter
$ie-filter-colour: ie-hex-str($colour); // A format that IE filters understand
$transparent-colour: rgba($colour, 0.15); // 0.15 opacity
~~~

#### Nesting
Remember the CSS Modernizr example from above? Wouldn't it be nice if you could have a more visible way to show the kind of relationship that you get with children etc?

Here's the Sassy way:

~~~
button {
    @include background-image(linear-gradient(top, #555, #333));

    .no-cssgradients & {
        background: url('backup-image.png');
    }
}
~~~

That gets compiled to the same example above.

Another example: Setting states on links.

~~~
$link-color: #BADA55;

a {
    color: $link-color; // This applies to all a-elements
    text-decoration: none;
    border-bottom: 1px solid; // Replacing the text-decoration with a border-bottom

    &:visited {
        border-bottom: 0 none; // Removes the border-bottom on visited links
    }

    &:hover,
    &:focus {
        // Applies to links that are focused, or hovered over
        color: darken($link-color, 15);
        border-bottom: 1px solid;
    }

    &:active {
        // Links that have been clicked, but not yet moved to their target
        color: red;
        border-bottom: 1px solid;
    }
}
~~~

This translates into the following:

~~~
a {
    color: #BADA55;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:visited {
    border-bottom: 0 none;
}

a:hover,
a:focus {
    color: #97ba28;
}

a:active {
    color: red;
    border-bottom: 1px solid;
}
~~~

You can even nest CSS rules, like so:

~~~
nav {
    font {
        family: serif;
        weight: bold;
        variant: small-caps;
    }
}
~~~

Which compiles to:

~~~
nav {
    font-family: serif;
    font-weight: bold;
    font-variant: small-caps;
}
~~~

#### Modular Development
I want to develop in smaller modules (though I admit I'm still working on perfecting what is a good flow...), but as I publish it it needs to be concatenated into a single file, and preferrably also be minified. In Sass, the second part is handled through a flag on the command (to simplify it), and the first is dealt with through imports.

Files that are named with an underscore as the first character will not be compiled, they are referred to as "partials" that can be imported into any other Sass file (including other partials). Assume we have a file which handles the `nav` styles (say `_nav.scss`), and another file that is the actual site CSS, say `styles.scss`.

The `styles.scss` file can look something like the following:

~~~
@import "compass"; // This imports the gem compass
@import "nav"; // This imports a file named _nav.scss in the same folder
// You can import files relative to the file, so assuming we have the _nav.scss in a subfolder called partials:
@import "partials/nav";
@import url('/css/header.css'); //Using an URL means CSS, obviously
~~~

#### Extension and mixins
Let's start with mixins. You can sort of think of them like functions that are included into selectors. For an example, the `cite-style` mixin from [Typeplate](https://github.com/typeplate/typeplate.github.io):

~~~
// Citation Mixin for Custom Styling
@mixin cite-style($display, $text-align, $font-size) {
    display: $display;
    font-size: $font-size;
    text-align: $text-align;
}
~~~

That could be used to, for instance, differentiate between different kind of blockquotes and the figcaption related to it. You'd call it with three arguments (display, text-align and font-size), which are probably fairly straightforward to figure out what they do, and it's used like the following:

~~~
p {
    @include cite-style(inline, right, 0.75em);
}
~~~

Which compiles to

~~~
p {
    display: inline;
    font-size: 0.75em;
    text-align: right;
}
~~~

In a sense, extension can be compared to a argument-less mixin, though it's better to use extensions as much as you can, because it compiles differently. If you have three elements using the above `cite-style`, each of them will have that compiled into them. Of course, as you're GZIP-ing it, that matters a touch less, but I find it untidy.

Extensions, however, work as follows:

~~~
%some-class {
    // This will not actually be compiled unless extended, the % that is in the
    // beginning of the name makes it "anonymous"
    font-size: 1.2em;
    color: #BADA55;
}

.some-class {
    @extend %some-class;
}

.slightly-different-class {
    @extend %some-class;
    border-bottom: 1px solid;
}
~~~

These are then compiled into the following construction:

~~~
.some-class,
.slightly-different-class {
    font-size: 1.2em;
    color: #BADA55;
}

.slightly-different-class {
    border-bottom: 1px solid;
}
~~~

**A word of caution, however**: these combined selectors appear in the compiled CSS at the first mentioning of the class that is extended, which may lead to issues with specificity. You also cannot `@extend` into a media-query.

### Over to Compass
Per [its page](http://compass-style.org/) Compass is an <q>open-source CSS Authoring Framework</q>. It can be very opinionated (it includes a reset and a grid, among other things), but I use it to speed up development, in particularly through using the CSS3 mixins, the automated base64 encoding, the magic sprites and the nice config file which allows me to watch files with ease (less important with a Grunt workflow, admittedly, so the final bit will be covered under the Grunt task).

To use the framework you need to import it, or a subset of it, before you use it, like so:

~~~
@import "compass";
~~~

That will import three large modules, namely `CSS3`, `Typography`(not used by me very often) and `Utilities`, but if you want to use their reset or layout module, those need to be imported separately. If you only want one of the modules (or a subset of the module), you can instead use `@import "compass/css3";`.

If you use other Sass or Compass plugins, they are imported similarly, where I am a big fan of `breakpoint`, a gem to ease up mediaqueries.

#### CSS3 mixins
There are quite a few different ways of dealing with the prefixes, and my preference goes to using Compass mixins and let Compass deal with implementing it. Yes, it means that if I abandon my project today and never touch it again, there will be some unecessary prefixes cluttering up the CSS file. On the other hand, it's not using JavaScript to accomplish the same thing, and to me a touch more clutter is better than a touch more JavaScript.

They use a similar syntax to the actual rules, so that you learn that rather than a make-believe syntax. The one thing I do wish is that it would log a warning or some-such when you're using a mixin that is superfluous due to browsers having caught up, but that is more "would be nice" than a dealbreaker.

The [documentation](http://compass-style.org/reference/compass/) covers exact details on the different mixins and how to use them.

#### Automated base64 encoding and linking
Assuming that you have configurated the folders correctly (so that Compass knows where to look), it can link to images and fonts, as well as embedding them as base64.

The differences is one in syntax, where for images you use `image-url` to create a link to the asset (relative or not depends on configuration) and `inline-image` to embed it. Dealing with how to do the same for fonts is a touch out of the scope of this tutorial, but [this index of helpers](http://compass-style.org/reference/compass/helpers/) should be able to point you in the right direction.

#### Sprites
This has to be one of my absolute favourite functionalities of Compass. Assume that you're using various icons throughout your design, icons that you for one reason or another either can not or would prefer not to use as a font file. This conceit requires each icon to be the same size, same filetype and use a consistent naming scheme, though in particular the last two feels like it should always be the case.

Given the following scheme (brackets denoting words that can be replaced easily), placed in the imagesDir, you can import the files and use them in your sheet:

<pre>
    [icon-set]/[new].png
    [icon-set]/[save].png
    [icon-set]/[delete].png
</pre>

~~~
@import "[icon-set]/*.png";
@include "all-[icon-set]-sprites";
~~~

This creates a file named `[icon-set]-[bunch of characters].png` in either your images folder or your generated images folder (if defined), and a series of classes along the lines of `.icon-set-image-name`, so in the first example, we'd have classes including `icon-set-new`. Use that class on any element that should have it, or extend it into something else. For more details on spriting, [this tutorial](http://compass-style.org/help/tutorials/spriting/) has some very nice examples for so-called power users. Let's go with one more example from there to show the power of letting Compass deal with your sprites: selector control.

Assume you have a toolbar with icons:

~~~
// Files
icons
    toolbar
        - bold.png
        - italic.png

// HTML
<div class="toolbar">
    <ul>
        <li><button class="bold">Bold</button></li>
        <li><button class="italic">Italic</button></li>
    </ul>
</div>

//SCSS
// Note how the set of icons are named after the last segment of the url
@import "icons/toolbar/*.png";

.toolbar {
    button {
        @extend %ir; // Your image-replacement style of choice
    }

    .bold {
        @include toolbar-sprite(bold)
    }

    .italic {
        @include toolbar-sprite(italic);
    }
}
~~~

### Playing the devil's advocate
Why wouldn't you want to use a pre-processor? After all, Sass is the absolutely best thing since sliced bread, as I've just finished telling you! There are a few issues with running it:

#### Learning curve
Especially if you come into a project half-way through, it takes a bit to understand the more clever solutions, such as using if-statements, loops and such. However, assuming you have someone to ask (say coworker or whomever started the project) it's not too complex, and when you're starting your own project for the first time you can just go with keeping the Sass to nesting, imports and variables, and you're already speeding up your workflow while using _almost_ pure CSS

#### Bloated output
I hate this claim, that using a pre-processor automatically creates bloat, because it's plainly not true. I think [Roy Tomeij](http://thesassway.com/articles/sass-doesnt-create-bad-code-bad-coders-do) said it best:

> It [Sass] creates too specific selectors due to nesting, huge sprites and they [people who don't like pre-processors] hate the way Sass enforces an architectural approach that doesn't work. And it's all true. If you're a poor developer. You know, one who would handcraft too specific selectors, 15MB sprites and doesn't know how to cleanly structure a project.

#### Setup time
Yes, it takes some extra effort to set up the pre-processor, with Sass you need Ruby, with Less or Stylus you need NodeJS. What that means is that if you're employing someone to do frontend work that's not too comfortable around installing stuff, *set up their workspace for them*. Where I work, the new sellers and such gets a nice computer with everything necessary (including icons to server space) already installed. Me? I got a computer with an Ubuntu CD stuck on top of it and was told to knock myself out, more or less. Did I know how to install git, Ruby (for Sass), etc? Lolz nope! I learned, though =)

### Grunt task to compile Sass
The [Compass task](https://github.com/gruntjs/grunt-contrib-compass) is another of the core Grunt plugins. The options closely mimic those of Compass `config.rb` (though using `camelCase` rather than `snake_case`), and runs `compass compile` with the specified options.

To install it, you should probably start with [making sure you have Sass and Compass](http://mariehogebrandt.se/articles/installing-sass-and-compass-on-ubuntu/), after which you can install the task itself: `npm install grunt-contrib-compass --save-dev`.

~~~
// <%= yeoman.app %> uses the value of the variable yeoman.app
compass: {
    // These options are global
    options: {
        sassDir: '<%= yeoman.app %>/styles', // Sassy files
        cssDir: '.tmp/styles', // Folder it will be compiled to
        imagesDir: '<%= yeoman.app %>/styles/images',
        generatedImagesDir: '.tmp/styles/images/generated',
        javascriptsDir: '<%= yeoman.app %>/scripts', // Where to put JS from extensions
        fontsDir: '<%= yeoman.app %>/styles/fonts',
        importPath: '<%= yeoman.app %>/bower_components', // Secondary place to import partials from
        httpImagesPath: '/images',
        httpGeneratedImagesPath: '/images/generated',
        httpFontsPath: '/fonts',
        relativeAssets: false,
        // These are gems that need to be installed as well
        require: [
            'breakpoint'
        ]
    },
    dist: {},
    server: {
        options: {
            // The file will have line numbers of where a specific CSS rule is coming from
            debugInfo: true
        }
    }
}
~~~

**Happy Authoring!**
